:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  background: url(./assets/img/bg.jpg) center/cover;
}

/** start form  */
.form-box {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3f7fe159;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.508);
}
/** end form  */

/** start form-left */
.form-left {
  width: 55%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #ffffff4d;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px 50px 90px 10px;
}
.form-left-text {
  width: 60%;
  font-size: 0.9em;
  text-align: center;
  padding-bottom: 3rem;
}
.form-left-images {
  img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
  }
}
/** end form-left */

/** start form-inputs */
.form-inputs {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  button {
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 200;
  }
  h1 {
    font-weight: 500;
    padding: 0 0 2rem 0;
  }
  input {
    width: 100%;
    font-size: 1.2em;
    color: #fff;
    margin: 0.5rem 0;
    padding: 0.6rem 1.2rem;
    outline: none;
    border: none;
    background: #ffffff40;
    box-shadow: 0 0 10px 0 #1b25b07e;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    &::placeholder {
      color: #ffffffb7;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    text-align: end;
    width: 100%;
  }
}
.form-type-btn {
  position: fixed;
  top: 20px;
  button {
    border-radius: 15px;
    padding: 0.2rem 1.4rem;
    box-shadow: 0 0 10px 0 #1b25b07e;
    background: #ffffff40;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    margin: auto 5px;
  }
}
.submit-btn {
  width: 100%;
  font-size: 1em;
  color: #fff;
  margin: 0.5rem 0 2rem 0;
  padding: 1rem 1.2rem;
  background: #373737;
  box-shadow: 0 2px 20px 0 #000000b5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all linear 0.2s;
  gap: 10px;
  &:hover {
    gap: 15px;
  }
}
.social-media-icons {
  position: fixed;
  bottom: 20px;
  display: flex;
  span {
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff40;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 50%;
    border: 1px solid #ffffff42;
    box-shadow: 0 0 10px 0 #1b25b07e;
    cursor: pointer;
  }
}
/** end form-inputs */

/** start animations */

/** image 00 :  outline */
.image-0 {
  animation: up-down 2s linear 0s infinite alternate;
}

/** image 01 : coin */
/* .image-1 {
  animation: xxx 2s linear 1s infinite alternate;
} */

/** image 02 : rocket */
.image-2 {
  animation: up-down 2s linear 0s infinite alternate;
}

/** image 03 : stars */
.image-3 {
  animation: tik-tik 1s ease-in 0s infinite alternate;
}
/** image 04 : cloud */
.image-4 {
  animation: left-right 3s linear 0s infinite alternate;
}

/** image 05 : dots */
/* .image-5 {
  animation: small-big 3s linear 0s infinite alternate;
} */

/** image 06 : spring */
/* .image-6 {
  animation: xxx 2s linear 0s infinite alternate;
} */

/** keyFrames */
@keyframes up-down {
  0% {
    top: 40%;
  }
  100% {
    top: 50%;
  }
}
@keyframes left-right {
  0% {
    left: 40%;
  }
  100% {
    right: 60%;
  }
}
@keyframes tik-tik {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 60%;
  }
}
@keyframes small-big {
  0% {
    height: 400px;
  }
  100% {
    height: 450px;
  }
}
@keyframes xxx {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 45%;
    left: 45%;
  }
}
/** end animations */
