:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  background: url(./assets/img/bg.jpg) center/cover;
}

.form-left-images{
  img{
    width: 100px;
    height: 100px;
  }
}