:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  background: url(./assets/img/bg.jpg) center/cover;
}

.form-left-images {
  img {
    width: 100px;
    height: 100px;
  }
}

/** Start Form */
.form-box {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3f7fe159;
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.508);
}
/** End Form */
