@media only screen and (max-width: 850px) {
  /** start form  */
  .form-box {
    width: 600px;
  }
  .form-left-images {
    img {
      height: 300px;
    }
  }
  /** end form  */
}
@media only screen and (max-width: 650px) {
  /** start form  */
  .form-box {
    width: 380px;
    padding: 0 0 2rem;
  }
  .form-left {
    display: none;
  }
  .form-inputs , .loggedin {
    width: 100%;
    h1 {
      margin: 3rem auto 0;
    }
  }
  /** end form  */
}
